<div class="sidebar">
  <div class="sidebar-contents">
    <h4>クチコミを探す</h4>
    <ul>
      <li><%= link_to "最新のクチコミを探す", "/posts" %></li>
      <li><%= link_to "人気のクチコミを探す", "/posts" %></li>
      <li><%= link_to "カテゴリーから探す", "/posts" %></li>
      <li><%= link_to "ランキングから探す", "/posts" %></li>
    </ul>
  </div>
</div>